@media (min-width: 48em) {

}

@media (max-width: 36em) {
    header {
        & .container {
            width: 360px;
            margin: 160px auto;
            display: flex;
            flex-direction: column;

            & .middle {
                border-radius: 0 0 10px 10px;

                & .content {
                    flex-basis: 100%;
                    padding: 40px;
                    text-align: center;
                    order: 2;

                    & h1 {
                        font-size: 1.7em;
                    }

                    & p {
                        line-height: 1.4;
                    }

                    & .infos {
                        width: 100%;
    
                        & .inf-content {
                            flex-basis: 100%;
                            margin: 10px 0;
                        }
                    }
                }

                & .bg-people {
                    flex-basis: 100%;
                    order: 1;
                    height: 300px;
                    background-image: url(../images/image-header-mobile.jpg);
                    border-radius: 10px 10px 0px 0px;
                }
            }
        }
    }
}